body {
	background-color: #fdfdfe;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

button,
input[type="file"],
input[type="number"] {
	border-radius: 12px;
	border: none;
	padding: 10px 15px;
	margin: 5px;
	font-size: 14px;
	cursor: pointer;
	background-color: #ffcccc;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	transition: background-color 0.3s;
}

button:hover,
input[type="file"]:hover,
input[type="number"]:hover {
	background-color: #ff9999;
}

#canvas {
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.color_button {
	width: 31px;
	height: 31px;
	margin: 2px 0px;
	border-radius: 10px;
}
#color-picker {
	box-shadow: none;
	color: inherit;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 0.3em 0.8em;
	font-size: inherit;
	font-family: inherit;
	margin-bottom: 10px;
	margin-right: 10px;
	background-color: white;
}
